body {
  font-family: cursive;
  font-weight: 400;
  text-align: center;
  margin: 0 35rem;
  max-width: 60rem;

  background-color: #103783;
  color: #fff;
}

html {
  font-size: 62.5%;
}

.heading {
  font-weight: 700;
}

.heading-main {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.heading-secondary {
  margin-bottom: 3rem;
}

.score-display {
  margin-bottom: 5rem;
}

.score-count {
  margin-bottom: 3rem;
}

.btn__container {
  display: flex;
  align-items: center;
  gap: 2rem;

  justify-content: space-around;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  background-color: #fff;
  color: #103783;

  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.btn:active {
  transform: translate(0);
}

.btn-add {
}

.btn-reduce {
}

.btn-reset {
}
